<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Perfil de <%= @user.email %></h1>
      <p><strong>Nombre:</strong> <%= @user.name %></p>
      <p><strong>Teléfono:</strong> <%= @user.phone %></p>
      <p><strong>Edad:</strong> <%= @user.age %></p>

      <% if @user.image.attached? %>
        <h2>Imagen de perfil:</h2>
        <%= image_tag @user.image, class: "img-fluid rounded" %>
      <% else %>
        <p>No se ha adjuntado ninguna imagen de perfil.</p>
      <% end %>
    </div>
  </div>
</div>
