<h1>Perfil de <%= @user.email %></h1>
<p>Nombre: <%= @user.name %></p>
<p>Teléfono: <%= @user.phone %></p>
<p>Edad: <%= @user.age %></p>

<% if @user.image.attached? %>
  <h2>Imagen de perfil:</h2>
  <%= image_tag @user.image %>
<% else %>
  <p>No se ha adjuntado ninguna imagen de perfil.</p>
<% end %>