<h2>New Post</h2>

<%= form_for @post, html: { multipart: true } do |f| %>
  <%= render 'shared/error_messages', resource: f.object %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :image, "Imagen del post" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "Create Post" %>
  </div>
<% end %>

<div>
  <%= link_to "Back to posts", posts_path %>
</div>
